<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.idiot.more">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <uses-feature
    android:name="android.hardware.camera.ar"
    android:required="true" />

  <application>
    <activity
      android:name=".ui.SearchAddressActivity"
      android:exported="false">
      <meta-data
        android:name="android.app.lib_name"
        android:value="" />
    </activity>
    <activity
      android:name=".ui.RegisterARActivity"
      android:configChanges="orientation|screenSize"
      android:exported="false"
      android:screenOrientation="locked" />

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="com.idiot.e_state_twin_android.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/paths" />
    </provider>

    <meta-data
      android:name="com.google.ar.core"
      android:value="@string/GOOGLE_API_KEY"
      tools:replace="android:value" />
  </application>

</manifest>