<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.idiot.feature.login">

  <application>
    <activity
      android:name="com.idiot.feature.login.ui.main.LoginActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:theme="@style/Base.Theme.EstateTwin.Login" />
    <activity
      android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="oauth"
          android:scheme="kakao4a7c8a7f7d39ee580ac8fcc3aec6d396" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.sign.SignUpActivity"
      android:exported="false" />
  </application>

</manifest>