<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idiot.threeviewer">

    <application>
        <activity
            android:name=".ViewerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.EStateTwin.Viewer">
            <intent-filter>
                <action android:name="com.idiot.threeviewer.ViewerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>